@import url('https://fonts.googleapis.com/css2?family=Asap&family=Barlow&display=swap');

/* General Section */
* {
    margin: 0;
    padding: 0;
    border: none;
}

h1 {
    font-family: 'Asap', sans-serif;
    color: #ECECEC;
}

body {
    background-color: #ea7600;
    font-family: Barlow, sans-serif;
}

.center {
    margin: auto;
    width: fit-content;
    text-align: center;
}

.content-sections {
    background-color: #ECECEC;
    max-width: 60%;
    margin: 30px auto;
    border-radius: 2.5%;
    min-width: 280px;
}

p {
    max-width: 260px;
    /* Galaxy Fold */
    margin: 0 auto;
}

/* Header Section & Nav Bar*/
#menu {
    font-size: 120%;
    letter-spacing: 4px;
    display: flex;
    justify-content: center;
    background-color: #717575;
}

#menu,
.logos {
    /* mobile menu TODO */
    line-height: 75px
}

#menu li {

    list-style-type: none;
    margin: 0 1rem;
}

#menu a {
    text-decoration: none;
    border: 2px solid #ECECEC;
    color: #ECECEC;
    padding: 6px;
}

#menu a:hover,
#menu a:focus {

    border: 2px solid #ea7600;
    color: #ea7600;
}

/* Grade Calc Section */
#grade-calc-section {
    max-width: fit-content;
}

#intro-calc-content {
    width: 90%;
    margin: auto;
}

#expand-calc-rules {
    width: 80%;
    margin: auto;
    background-color: #FFC180;
}

.random-input-buttons {
    background-color: #ffffff;
    border: 2px solid #ea7600;
}

.explanation-tables {
    text-align: left;
}

.explanation-tables th,
.explanation-tables td {
    padding: 0.5rem 1rem;
}

/* Final Grace Calculator Table */
#grade-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 280px;
    /*galaxy fold size*/
    border-radius: 5px 5px 0 0;
    /* top rounded border*/
    overflow: hidden;
    /* allows top border raidus to work*/
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    /* pleasing shadow effect */
}

#grade-table thead tr {
    background-color: #ea7600;
    color: #ffffff;
    text-align: left;
    /* Algin table headers with tr content */
    font-weight: bold;
}

#grade-table th,
#grade-table td {
    padding: 12px 15px;
}

#grade-table select {
    background-color: #FFC180;
    font-weight: bolder;
    text-align: center;
    padding: 0px 2px 0px 12px;
}

#grade-table tbody tr {
    border-bottom: 1px solid #ececee;
}

#grade-table tbody tr:nth-of-type(odd) {
    background-color: #ffffff;
}

#grade-table tbody tr:nth-of-type(even) {
    background-color: #ececee;
}

#grade-table tbody tr:last-of-type {
    border-bottom: 2px solid #ea7600;
    /*Bottom cell border highlight; */
}

/* Useful Links Section */
#useful-links-section {
    height: 600px;
}

#useful-links-blurb,
.link-blurbs {
    margin: 1rem auto 0;
}

#useful-links-list li{
    margin: 2rem;
}

#useful-links-list {
    display: flex;
    flex-direction: column;
}

#useful-links-list li {
    list-style-type: none;

}

#useful-links-list a {
    border: 2px solid #ea7600;
    color: #ea7600;
    padding: 6px;
    font-weight: bold;
}

#useful-links-list a:hover,
#useful-links-list a:focus {
    border: 2px solid #FFC180;
    color: #FFC180;
}

/* Footer Bar */
footer {
    margin-top: 2rem;
    height: 100px;
}

.footer-links {
    text-align: center;
}

.footer-links>li {
    display: inline;
}

.footer-links i {
    font-size: 500%;
    margin: 1%;
    padding: 0 5%;
    color: #ECECEC;
}