@import url('https://fonts.googleapis.com/css2?family=Asap&family=Barlow&display=swap');

/* General Section */
* {
    margin: 0;
    padding: 0;
    border: none;

    /* colors as per https://coolors.co/ea7600-ececec-717575-ffc180-ffffff */
    --color-princeton-orange: #ea7600;
    --color-cultured: #ECECEC;
    --color-mellow-apricot: #FFC180;
    --color-mellow-apricot-darker: #ca9d6d;
    --color-nickle: #717575;
    --color-white: #FFFFFF;
    --color-bronze: #CD7F32;
    --color-bronze-darker: #8a5623;
    --color-silver: #C0C0C0;
    --color-silver-darker: #818181;
    --color-gold: #ffbb00;
    --color-gold-darker: #a38b00;
}

/* account for any border and padding in the values */
*,
*::after,
*::before {
    box-sizing: border-box;
}

h1 {
    font-family: 'Asap', sans-serif;
    color: var(--color-cultured);
}

body {
    background-color: var(--color-princeton-orange);
    font-family: "Barlow", sans-serif;
}

.center {
    margin: auto;
    width: fit-content;
    text-align: center;
}

.content-sections {
    background-color: var(--color-cultured);
    max-width: 60%;
    margin: 30px auto;
    border-radius: 2.5%;
}

p {
    max-width: 260px;
    margin: 0 auto;
}

/* Header Section & Nav Bar*/
.menu {
    font-size: 120%;
    letter-spacing: 4px;
    display: flex;
    justify-content: center;
    background-color: var(--color-nickle);
}

.menu,
.logos {
    line-height: 4.5rem;
}

.menu li {
    list-style-type: none;
    margin: 0 1rem;
}

.menu a {
    text-decoration: none;
    border: 2px solid var(--color-cultured);
    color: var(--color-cultured);
    padding: 6px;
}

.menu a:hover,
.menu a:focus {

    border: 2px solid var(--color-princeton-orange);
    color: var(--color-princeton-orange);
}

/* Grade Calc Sections */
/* Grade Calc Intro Section */
#grade-calc-section {
    max-width: fit-content;
}

#intro-calc-content {
    width: 90%;
    margin: auto;
    font-size: 1.4rem;
}

/* Grade Calc Modal & Modal Button(replace expand rule section) */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 300ms ease-in-out;
    border: 3px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: var(--color-cultured);
    width: clamp(260px, 800px, 80%);
    max-height: 90%;
    overflow-y: scroll;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

#modal-title {
    margin:0 auto;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 0.5rem 1rem;
    margin: 2rem 0;
}


.explanation-tables {
    text-align: left;
}

.explanation-tables th,
.explanation-tables td {
    padding: 0.5rem 1rem;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}


/*Grade Calc Randomizer Buttons */
.buttons {
    cursor: pointer;
    outline: none;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0.2rem 1rem;
    border: none;
    color: var(--color-white);
    background-color: var(--color-mellow-apricot);
    box-shadow: 0.4rem 0.4rem 0 var(--color-mellow-apricot-darker);
}

.buttons:active {
    transform: translateX(0.2rem) translateY(0.2rem);
    box-shadow: 0.2rem 0.2rem 0 var(--color-mellow-apricot-darker);
}

#random-button1 {
    background-color: var(--color-bronze);
    box-shadow: 0.4rem 0.4rem 0 var(--color-bronze-darker);
}

#random-button1:active {
    transform: translateX(0.2rem) translateY(0.2rem);
    box-shadow: 0.2rem 0.2rem 0 var(--color-bronze-darker);
}

#random-button2 {
    background-color: var(--color-silver);
    box-shadow: 0.4rem 0.4rem 0 var(--color-silver-darker);
}

#random-button2:active {
    transform: translateX(0.2rem) translateY(0.2rem);
    box-shadow: 0.2rem 0.2rem 0 var(--color-silver-darker);
}

#random-button3 {
    background-color: var(--color-gold);
    box-shadow: 0.4rem 0.4rem 0 var(--color-gold-darker);
}

#random-button3:active {
    transform: translateX(0.2rem) translateY(0.2rem);
    box-shadow: 0.2rem 0.2rem 0 var(--color-gold-darker);
}

/* Final Grace Calculator Table */
#grade-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    border-radius: 5px 5px 0 0;
    /* top rounded border*/
    overflow: hidden;
    /* allows top border radius to work*/
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    /* pleasing shadow effect */
}

#grade-table thead tr {
    background-color: var(--color-princeton-orange);
    color: var(--color-white);
    text-align: left;
    /* Algin table headers with tr content */
    font-weight: bold;
}

#grade-table th,
#grade-table td {
    padding: 12px 15px;
}

#grade-table select {
    background-color: var(--color-mellow-apricot);
    font-weight: bolder;
    text-align: center;
    padding: 0px 2px 0px 12px;
    cursor: pointer;

}

#grade-table tbody tr {
    border-bottom: 1px solid var(--color-cultured);
}

#grade-table tbody tr:nth-of-type(odd) {
    background-color: var(--color-white);
}

#grade-table tbody tr:nth-of-type(even) {
    background-color: var(--color-cultured);
}

/* Results row */
#grade-table tbody tr:last-of-type {
    background-color: var(--color-mellow-apricot);
    font-weight: bolder;
    text-align: right;
    border-bottom: 5px solid var(--color-princeton-orange);
    /*Bottom cell border highlight; */
}

#grade-table tbody tr:last-of-type td:last-of-type {
    text-align: left;
}

/* Useful Links Section */
#useful-links-section {
    height: 600px;
}

#useful-links-blurb,
.link-blurbs {
    margin: 1rem auto 0;
}

#useful-links-list li {
    margin: 2rem;
}

#useful-links-list {
    display: flex;
    flex-direction: column;
}

#useful-links-list li {
    list-style-type: none;
    text-decoration: none;
}

#useful-links-list a {
    border: 2px solid var(--color-princeton-orange);
    color: var(--color-princeton-orange);
    padding: 6px;
    font-weight: bold;
    text-decoration: none;
}

#useful-links-list a:hover,
#useful-links-list a:focus {
    border: 2px solid var(--color-mellow-apricot);
    color: var(--color-mellow-apricot);
}

/* Footer Bar */
footer {
    margin-top: 2rem;
    height: 100px;
}

.footer-links {
    text-align: center;
}

.footer-links>li {
    display: inline;
}

.footer-links i {
    font-size: 500%;
    margin: 1%;
    padding: 0 5%;
    color: var(--color-cultured);
}

/* Media Queries/Responsiveness */
@media (max-width: 310px) {
    #grade-calc-section {
        max-width: 96%;
    }
}

@media (max-width: 800px) {
    .large-to-hide {
        display: none;
    }

    .small-to-hide {
        display: flex;
        justify-content: space-around;
    }
}

@media (min-width: 800px) {
    .large-to-hide {
        display: flex;
    }

    .small-to-hide {
        display: none;
    }
}

@media (max-width: 600px) {
    .content-sections {
        max-width: 96%;
    }
}

@media (max-width: 660px) {
    .logos {
        line-height: 2.4rem;
        margin: 4%;
    }
}

@media (max-width: 380px) {

    #grade-table th,
    #grade-table td {
        padding: 0.5rem 0.2rem;
    }
}