* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #ea7600;
}

.center {
    margin: auto;
    width: fit-content;
    text-align: center;
}

/* Grade Calc Section */

#grade-calc-section {
    background-color: #ECECEC;
    max-width: 60%;
    margin: auto;
    border-radius: 2.5%;
    min-width: 280px;
}

#intro-calc-content {
    width: 90%;
    margin: auto;
}

#expand-calc-rules {
    width: 80%;
    margin: auto;
    background-color: #FFC180;
}

.random-input-buttons {
    background-color: #ffffff;
    border: 2px solid #ea7600;
}

/* Grace Calc Table */
#grade-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 280px;
    /*galaxy fold size*/
    border-radius: 5px 5px 0 0;
    /* top rounded border*/
    overflow: hidden;
    /* allows top border raidus to work*/
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    /* pleasing shadow effect */
}

#grade-table thead tr {
    background-color: #ea7600;
    color: #ffffff;
    text-align: left;
    /* Algin table headers with tr content */
    font-weight: bold;
}

#grade-table th,
#grade-table td {
    padding: 12px 15px;
}

#grade-table select {
    background-color: #FFC180;
    font-weight: bolder;
    text-align: center;
    padding: 0px 2px 0px 12px;
}

#grade-table tbody tr {
    border-bottom: 1px solid #ececee;
}

#grade-table tbody tr:nth-of-type(odd) {
    background-color: #ffffff;
}

#grade-table tbody tr:nth-of-type(even) {
    background-color: #ececee;
}

#grade-table tbody tr:last-of-type {
    border-bottom: 2px solid #ea7600;
    /*Bottom cell border highlight; */
}

/* Nav Links */

nav li {
    display: inline;
    list-style-type: none;
}

/* Footer Bar */

footer {
    margin-top: 2rem;
    height: 100px;
}

.footer-links {
    text-align: center;
}

.footer-links>li {
    display: inline;
}

.footer-links i {
    font-size: 280%;
    margin: 1%;
    padding: 5%;
    color: #ECECEC;
}